---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="wrapper not-found">
        <h1>Page not found (404)</h1>
        <p>Looks like the page your requested doesn't exist.</p>
        <p><a href="/">&larr; back home</a></p>
    </div>
</Layout>

<style lang="scss">
    .not-found {
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>