---
import Layout from "../layouts/Layout.astro";
import CallToAction from "../components/CallToAction.astro";
---

<Layout pageTitle="Johnny Estrada | Front-End Focused, Full Stack Web Developer">
    <main role="main">
    <CallToAction />
    </main>
  </Layout>