---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
---

<Layout
  pageTitle="Johnny Estrada | Front-End Focused Web Developer"
>
  <main role="main">
    <Contact />
  </main>
</Layout>
