---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
---

<Layout
  pageTitle="Bug Tracker Web App | An application that helps teams work together to solve
  bugs that come up during development."
>
  <main role="main">
    <Contact />
  </main>
</Layout>
