---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import CallToAction from '../components/ui/CallToAction.astro';
import Contact from '../components/Contact.astro';
import BackToTop from '../components/ui/BackToTop.astro';
---

<Layout pageTitle="Johnny Estrada | Front-End Focused Web Developer">
  <main role="main">
    <Hero />
    <About />
    <Projects />
    <Contact />
    <BackToTop />
    <!-- <CallToAction /> -->
  </main>
</Layout>
