---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import CallToAction from "../components/CallToAction.astro";
---

<Layout pageTitle="Johnny Estrada | Front-End Focused, Full Stack Web Developer">
  <main role="main">
  <Hero />
  <About />
  <Projects />
  <CallToAction />
  </main>
</Layout>