---
---

<section class="contact">
  <div class="bg-ring-pattern"></div>
  <header>
    <h1>Contact Me</h1>
  </header>
  <div class="wrapper contact__content">
    <h2>Available for projects</h2>
    <p>
      Use the form to get in touch so we can begin the journey of getting your
      business a proper, effective website for your business or organization.
    </p>

    <div class="social">
      <a class="social__link">
        <img src="/icons/icon-linkedin.svg" />
        <p>Connect with me</p>
      </a>
      <a class="social__link">
        <img src="/icons/icon-github.svg" />
        <p>Check out my projects</p>
      </a>
    </div>
    <form>
        <input type="text">
        <input type="text">
        <input type="text">
        <button>Send Message</button>
    </form>
  </div>
</section>
