---
import ContactForm from './form/ContactForm.astro';
---

<section id="contact">
  <h2>CONTACT</h2>
  <div class="contact wrapper">
    <div class="bg-ring-pattern"></div>
    <div class="contact__left">
      <h3>Available for projects</h3>
      <p class="contact__text">
        I would love to hear about your project and how I could help. Please
        fill in the form, and I'll get back to you as soon as possible.
      </p>

      <div class="social">
        <a
          href="https://www.linkedin.com/in/estrada-johnny/"
          class="social__link"
        >
          <img src="/icons/icon-linkedin.svg" width="20" height="20" alt="" />
          <p>Connect with me</p>
        </a>
        <a href="https://github.com/johnny-estrada" class="social__link">
          <img src="/icons/icon-github.svg" width="20" height="20" alt="" />
          <p>Check out my projects</p>
        </a>
      </div>
    </div>

    <div class="contact__right">
      <ContactForm />
    </div>
  </div>
</section>

<style lang="scss">
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;

    &__left {
      margin-bottom: 20px;
    }

    @media (min-width: 900px) {
      align-items: start;
      flex-direction: row;
      padding: 120px 0 120px 0;

      &__left {
        margin-right: 42px;
      }
    }

    h3 {
      font-weight: 700;
      font-size: var(--step-0);
      letter-spacing: -1px;
      text-align: center;
      margin-bottom: 5px;
    }

    &__text {
      color: var(--stone-300);
      flex-wrap: wrap;
      text-align: center;
      margin-bottom: 30px;
      max-width: 445px;
      padding: 5px;
    }

    @media (min-width: 900px) {
      .contact__text {
        text-align: left;
        margin-bottom: 32px;
        max-width: 36ch;
      }

      h3 {
        text-align: left;
      }
    }

    span {
      color: var(--accent-green-400);
    }
  }

  h2 {
    text-align: center;
    margin: 80px 0;
    font-weight: 700;
    font-size: var(--main-heading);
    line-height: 40px;
    letter-spacing: -1.13636px;

    @media (min-width: 900px) {
      & {
        padding-top: 120px;
      }
    }
  }

  .social {
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
      text-decoration: underline;
    }

    &__link:nth-child(2) {
      margin-bottom: 30px;
    }

    &__link:hover {
      filter: brightness(0) saturate(100%) invert(74%) sepia(66%) saturate(380%)
        hue-rotate(94deg) brightness(91%) contrast(96%);
      transition: color 200ms ease-in-out;
      text-decoration: underline;
    }

    &__link:focus {
      filter: brightness(0) saturate(100%) invert(74%) sepia(66%) saturate(380%)
        hue-rotate(94deg) brightness(91%) contrast(96%);
    }

    @media (min-width: 900px) {
      &__link {
        justify-content: flex-start;
        width: fit-content;
      }
    }
  }
</style>
