---
import Logo from './ui/Logo.astro';
---

<footer class="footer" role="contentinfo">
  <div class="footer__container wrapper">
    <div class="bg-pattern-rings2"></div>

    <div class="flex-item">
      <Logo />
      <p>
        Based in San Diego, I'm a front-end web developer passionate about
        building web apps that users love.
      </p>
    </div>

    <div class="footer__content">
      <div class="flex-ite">
        <h4>Browse</h4>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/#projects">Projects</a>
        <a href="/#contact">Contact</a>
      </div>

      <div class="flex-ite">
        <h4>Projects</h4>
        <a href="/">Issue Tracker</a>
      </div>

      <div class="flex-ite">
        <h4>Social</h4>
        <div class="social-item">
          <img
            src="/icons/icon-location.svg"
            alt=""
            width="20px"
            height="20px"
          />
          San Diego, CA
        </div>
        <div class="social-item">
          <a href="https://github.com/johnny-estrada" class="footer_contact">
            <img
              class="icon-img"
              src="/icons/icon-github.svg"
              alt=""
              width="20px"
              height="20px"
            />
            Github
          </a>
        </div>
        <div class="social-item">
          <a href="https://www.linkedin.com/in/estrada-johnny/">
            <img
              class="icon-img"
              src="/icons/icon-linkedin.svg"
              alt=""
              width="20px"
              height="20px"
            />
            LinkedIn
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__adoration">Built by Johnny Estrada - 2023</div>
</footer>

<style lang="scss">
  .footer {
    background: var(--neutral-800);
    padding: 60px 0 0px 0;

    &__container {
      position: relative;
      border-bottom: var(--white) solid 1px;
    }

    @media (min-width: 768px) {
      &__container {
        display: flex;
        border-bottom: var(--white) solid 1px;
      }
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 1.25rem;
      width: 100%;

      @media (min-width: 1052px) {
        & {
          padding-bottom: 9.375rem;
        }
      }
    }

    &__adoration {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 60px;
      margin-top: 20px;
    }

    .flex-item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding-bottom: 60px;

      @media (min-width: 768px) {
        & {
          align-items: flex-start;
          margin-right: 100px;
          max-width: 400px;
        }
      }

      @media (min-width: 900px) {
        & {
          margin-right: 200px;
        }
      }
    }

    .flex-ite {
      padding: 0 20px 0 0;
      margin-bottom: 60px;
      z-index: 1;
    }

    p {
      color: var(--stone-300);
      font-size: 1rem;
      line-height: 1.625rem;
      text-align: center;
      margin-top: 0.625rem;
      max-width: 445px;

      @media (min-width: 768px) {
        & {
          text-align: left;
          max-width: none;
        }
      }
    }

    .social-item {
      display: flex;
      align-items: center;
      color: var(--stone-300);
      font-size: 1rem;
      line-height: 1.625rem;
      margin-bottom: 0.625rem;
    }

    h4 {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 0.625rem;
    }

    a {
      display: flex;
      font-size: 1rem;
      line-height: 1.625rem;
      letter-spacing: 0.143125rem;
      cursor: pointer;
      margin-bottom: 0.5rem;
    }

    a:hover {
      filter: brightness(0) saturate(100%) invert(74%) sepia(66%) saturate(380%)
        hue-rotate(94deg) brightness(91%) contrast(96%);
      transition: color 200ms ease-in-out;
      text-decoration: underline;
    }

    a:focus {
      filter: brightness(0) saturate(100%) invert(74%) sepia(66%) saturate(380%)
        hue-rotate(94deg) brightness(91%) contrast(96%);
    }

    a:active {
      color: var(--text-white);
    }

    img {
      margin-right: 0.5rem;
    }
  }

  .bg-pattern-rings2 {
    position: absolute;
    top: 450px;
    left: -250px;

    background-image: url('/icons/pattern-rings.svg');
    background-repeat: no-repeat;
    width: 530px;
    height: 129px;

    @media (min-width: 469px) {
      top: 220px;
      left: -250px;
    }

    @media (min-width: 600px) {
      top: 220px;
      left: -250px;
    }
  }
</style>
