---
import Logo from "./ui/Logo.astro";
---

<footer class="footer" role="contentinfo">
  <div class="wrapper footer__container">
    <div class="flex-item">
      <Logo />
      <p>
        Based in the San Diego, I'm a front-end developer passionate about
        building accessible web apps that users love.
      </p>
    </div>

    <div class="footer__content">
      <div class="flex-item">
        <h4>BROWSE</h4>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/#projects">Projects</a>
        <a href="/contact">Contact</a>
      </div>

      <div>
        <h4>PROJECTS</h4>
        <a href="/projects/bug-tracker">Bug Tracker App</a>
      </div>

      <div>
        <h4>SOCIAL</h4>
        <div class="item">
          <img
            src="/icons/icon-location.svg"
            alt=""
            width="24px"
            height="24px"
          />
          San Diego, CA
        </div>
        <a href="https://github.com/johnny-estrada" class="footer_contact">
          <img src="/icons/icon-github.svg" alt="" width="24px" height="24px" />
          Github
        </a>
        <a href="https://www.linkedin.com/in/estrada-johnny/">
          <img
            src="/icons/icon-linkedin.svg"
            alt=""
            width="24px"
            height="24px"
          />
          LinkedIn
        </a>
      </div>
    </div>
    

    <div class="bg-pattern-rings2"></div>
  </div>
  <div class="flex-item">Built by Johnny Estrada @ 2023</div>
</footer>

<style lang="scss">
  .footer {
    position: relative;
    padding: 5rem 0;
    background: var(--neutral-800);

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 9.375rem;
      margin-bottom: 1.25rem;
      width: 100%;
    }

    &__container {
        border-bottom: var(--white) solid 1px;
      }

    @media screen and (min-width: 768px) {
      &__container {
        display: flex;
        border-bottom: var(--white) solid 1px;
      }
    }

    .flex-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1.25rem;
    }

    p {
      color: var(--stone-300);
      font-size: 1rem;
      line-height: 1.625rem;
      text-align: center;
      margin: 0.625rem 0 5rem 0;
    }

    .item {
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--stone-300);
      font-size: 1rem;
      line-height: 1.625rem;
      margin-bottom: 0.625rem;
    }

    h4 {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 0.625rem;
    }

    a {
      display: flex;
      font-size: 1rem;
      line-height: 1.625rem;
      letter-spacing: 0.143125rem;
      cursor: pointer;
      margin-bottom: 0.5rem;
    }

    a:hover {
      color: var(--accent-green-400);
      transition: color 200ms ease-in-out;
      text-decoration: underline;
    }

    a:focus {
      color: var(--accent-green-400);
    }

    a:active {
      color: var(--text-white);
    }

    img {
      margin-right: 1.25rem;
    }
  }

  .bg-pattern-rings2 {
    position: absolute;

    right: 50%;
    top: 600px;
    // translate: -75%;
    background-image: url("/icons/pattern-rings.svg");
    background-repeat: no-repeat;
    min-width: 530px;
    min-height: 129px;
    z-index: 1;
  }
</style>
