---
import Logo from "./ui/Logo.astro";
import Hamburger from "./ui/Hamburger.astro";
import Navigation from "./ui/Navigation.astro";
---

<header class="header" role="banner">
  <div class="container">
    <div class="header__col-left" role="navigation">
      <Logo />
    </div>
    <nav class="header__col-right" role="navigation" aria-label="Main nav">
      <Hamburger />
      <!-- <Navigation /> -->
    </nav>
  </div>
</header>

<style lang="scss">
  .header {
    &__col-left {
      margin-left: 89px;
    }

    &__col-right {
        display: flex;
        justify-content: baseline;
        align-items: center;
        gap: 20px;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding: 25px 16px 0 16px;
    }
  }
</style>
