---
import Logo from "./ui/Logo.astro";
import Hamburger from "./ui/Hamburger.astro";
import Navigation from "./ui/Navigation.astro";
---

<header class="header" role="banner">
  <div class="wrapper header__container">
    <a class="link" href="/" aria-label="Go to the homepage.">
      <Logo />
    </a>

    <nav class="header__desktop-nav" role="navigation" aria-label="Main nav">
      <Navigation />
    </nav>
    <nav class="header__mobile-nav" role="navigation" aria-label="Main nav">
      <Hamburger />
    </nav>
  </div>
</header>

<style lang="scss">
  .header {
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 1.5625rem;
    }
    &__desktop-nav {
      margin-right: 32px;
      display: flex;
      gap: 2rem;
    }
    @media (max-width: 899px) {
      &__desktop-nav {
        display: none;
      }
    }

    @media (min-width: 900px) {
      &__mobile-nav {
        display: none;
      }
    }
  }

  .link {
    margin: auto;
    translate: 12%;

    @media (min-width: 600px) {
      margin: 0;
    }
  }
</style>
