---
---

<section id="projects" class="projects">
  <h2>PROJECTS</h2>
  <div class="wrapper">
    <h3>Some thing's I've built</h3>
    <div class="projects__content">
      <div class="projects__card">
        <picture>
          <source
            media="(min-width: 600px)"
            srcset="/images/thumbnail-project-1-large.webp"
            width="540"
            height="auto"
          />
          <div class="contain">
            <img
              src="/images/thumbnail-project-1-small.webp"
              class="image"
              alt=""
              max-width="100%"
              height="auto"
            />
            <h4>BUG TRACKER WEB APP</h4>
            <ul>
              <li>REACT</li>
              <li>TAILWIND</li>
              <li>EXPRESS</li>
            </ul>
            <!-- <nav class="middle">
              <a href="/bug-tracker">VIEW PROJECT</a>
              <a href="https://github.com/johnny-estrada/bug-tracker-v2"
                >VIEW CODE</a
              >
            </nav> -->
            <p class="middle">Under Construction</p>
          </div>
        </picture>
      </div>

      <!-- <div class="projects__card">
        <picture class="image">
          <source
            class="image"
            media="(min-width: 600px)"
            srcset="/images/thumbnail-project-1-large.webp"
            width="540"
            height="auto"
          />
          <img
            src="/images/thumbnail-project-1-small.webp"
            alt=""
            max-width="100%"
            height="auto"
          />
        </picture>

        <h4>BUG TRACKER WEB APP</h4>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JAVASCRIPT</li>
        </ul>

        <nav>
          <a href="/bug-tracker">VIEW PROJECT</a>
          <a href="https://github.com/johnny-estrada/bug-tracker-v2"
            >VIEW CODE</a
          >
        </nav>
      </div> -->
    </div>
  </div>
</section>

<style lang="scss">
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    background: var(--neutral-500);

    p {
      font-size: 20px;
      font-weight: bold;
    }

    @media (min-width: 900px) {
      & {
        padding: 120px 0;
      }
    }

    &__content {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    h2 {
      margin-bottom: 80px;
      font-weight: 700;
      font-size: var(--main-heading);
      line-height: 40px;
      letter-spacing: -1.13636px;
    }

    h3 {
      font-weight: 700;
      font-size: var(--step-0);
      letter-spacing: -1px;
      margin-bottom: 16px;
      text-align: center;
    }

    img {
      opacity: 1;
      transition: 0.5s ease;
      backface-visibility: hidden;
      margin-bottom: 20px;
    }

    h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 7px;
    }

    ul {
      display: flex;
      gap: 18px;
      margin-bottom: 20px;
      color: var(--stone-300);
    }

    nav {
      display: flex;
      margin-bottom: 80px;
      gap: 30px;

      a {
        cursor: pointer;
        color: var(--text-white);
        border-bottom: 2px solid var(--accent-green-400);
        padding-bottom: 10px;

        &:hover {
          color: var(--accent-green-400);
          transition: color 200ms ease-in-out;
        }

        &:focus {
          color: var(--accent-green-400);
        }

        &:active {
          color: var(--text-white);
        }
      }
    }

    /*****************************/
    /*** Project Cover Images ***/
    /***************************/

    @media (min-width: 900px) {
      .contain {
        position: relative;
      }

      .middle {
        flex-direction: column;
        gap: 48px;
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      .contain:hover .image {
        opacity: 0.3;
      }

      .contain:hover .middle {
        opacity: 1;
      }
    }
  }
</style>
