---
---

<section id="projects" class="projects">
  <h2>PROJECTS</h2>
  <div class="wrapper">
    <h3>Some Thing's I've Built</h3>
    <div class="projects__content">
      <div class="projects__card">
        <picture>
          <source
            media="(min-width: 600px)"
            srcset="/images/thumbnail-project-1-large.webp"
            width="540"
            height="500"
          />
          <img
            src="/images/thumbnail-project-1-small.webp"
            alt=""
            width="343"
            height="253"
          />
        </picture>

        <h4>BUG TRACKER WEB APP</h4>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JAVASCRIPT</li>
        </ul>

        <nav>
          <a href="/projects">VIEW PROJECT</a>
          <a href="https://github.com/johnny-estrada/developer-portfolio"
            >VIEW CODE</a
          >
        </nav>
      </div>
      <div class="projects__card">
        <picture>
          <source
            media="(min-width: 600px)"
            srcset="/images/thumbnail-project-1-large.webp"
            width="540"
            height="500"
          />
          <img
            src="/images/thumbnail-project-1-small.webp"
            alt=""
            width="343"
            height="253"
          />
        </picture>

        <h4>BUG TRACKER WEB APP</h4>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JAVASCRIPT</li>
        </ul>

        <nav>
          <a href="/projects">VIEW PROJECT</a>
          <a href="https://github.com/johnny-estrada/developer-portfolio"
            >VIEW CODE</a
          >
        </nav>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    background: var(--neutral-500);

    &__content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      outline: blue solid 1px;
    }

    h2 {
      margin-block: 80px;
      font-weight: 700;
      font-size: var(--main-heading);
      line-height: 40px;
      letter-spacing: -1.13636px;
    }

    h3 {
      font-weight: 700;
      font-size: var(--step-0);
      letter-spacing: -1px;
      margin-bottom: 16px;
      text-align: center;
    }

    img {
      margin-bottom: 20px;
    }

    h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 7px;
    }

    ul {
      display: flex;
      gap: 18px;
      margin-bottom: 20px;
      color: var(--stone-300);
    }

    nav {
      display: flex;
      margin-bottom: 80px;
      gap: 30px;

      a {
        cursor: pointer;
        color: var(--text-white);
        border-bottom: 2px solid var(--accent-green-400);
        padding-bottom: 10px;

        &:hover {
          color: var(--accent-green-400);
          transition: color 200ms ease-in-out;
        }

        &:focus {
          color: var(--accent-green-400);
        }

        &:active {
          color: var(--text-white);
        }
      }
    }
  }
</style>
