---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../assets/styles/global.css';

export interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Johnny Estrada is a Frontend Web Developer based in San Diego, specializing in HTML, CSS, JavaScript, Astro, React, TypeScript, and Tailwind. Explore a portfolio of projects showcasing a commitment to seamless online experiences."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://www.johnnyestrada.dev/" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FYPD7NSK7Y"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-FYPD7NSK7Y');
    </script>

    <title>{pageTitle}</title>
  </head>

  <body id="body">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
