---
---

<section class="cta">
  <div class="wrapper">
    <div class="cta__content">
      <h3>Interested in working together?</h3>
      <p>I would love to hear about your project and how I could help.</p>
      <a href="/#contact"
        ><img
          src="/icons/icon-message.svg"
          alt=""
          width="20px"
          height="20px"
        />START A CONVERSATION</a
      >
    </div>
  </div>
</section>

<style lang="scss">
  .cta {
    margin: 120px 0;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h3 {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      /* or 125% */

      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #d9d9d9;
      margin-bottom: 36px;
    }

    a {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 56px;
      border: 2px solid #4ee1a0;
      box-shadow: 5px 8px rgba(78, 225, 160, 0.25);

      &:hover {
        background-color: var(--accent-green-400);
        box-shadow: 0px 0px 50px 1px rgba(78, 225, 160, 0.25);
        translate: 2px 2px;
        transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
      }
      &:focus {
        border: none;
        background-color: var(--accent-green-400);
        box-shadow: 0px 0px 50px 1px rgba(78, 225, 160, 0.25);
      }
      &:active {
        border: none;
        color: #212121;
        background-color: white;
      }
    }

    img {
      margin-right: 8px;
    }
  }
</style>
