---
---

<style lang="scss">
    .hamburger {
      cursor: pointer;
  
      span {
        display: block;
        width: 40px;
        min-height: 4px;
        margin-bottom: 8px;
        background-color: var(--white);
      }
  
      span:last-child {
        margin-bottom: 0;
      }
    }
  </style>
  
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>