---

---

<style lang="scss">
    .link {
      color: var(--text-white);
      line-height: 1.625rem;
      letter-spacing: 0.143125rem;
      width: auto;
  
  
      &:hover {
        color: var(--accent-green-400);
        transition: color 200ms ease-in-out;
      }
  
      &:focus {
        color: var(--accent-green-400);
      }
  
      &:active {
        color: var(--text-white);
      }
    }
  </style>
  
<a class="link" href="/" aria-current="page">HOME</a>
<a class="link" href="/about">ABOUT</a>
<a class="link"  href="/#projects">PROJECTS</a>
<a class="link" href="/contact">CONTACT</a>