---
---

<a class="link" href="/" aria-current="page">Home</a>
<a class="link" href="/#about">About</a>
<a class="link" href="/#projects">Projects</a>
<a class="link" href="/#contact">Contact</a>

<style lang="scss">
  .link {
    color: var(--text-white);
    font-size: 18px;
    line-height: 1.625rem;
    letter-spacing: 0.143125rem;
    width: auto;
    &:hover,
    &:focus {
      color: var(--accent-green-400);
      transition: color 200ms ease-in-out;
      -webkit-transition: color 200ms ease-in-out;
      -moz-transition: color 200ms ease-in-out;
    }
    &:active {
      color: var(--text-white);
    }
  }
</style>
